[Desktop Entry]
Icon=image-png
Name=Screenshot_20180904_150741.png
Type=Link
URL[$e]=file:$HOME/Images/Screenshot_20180904_150741.png
X-KDE-LastOpenedWith=org.kde.gwenview
