[Desktop Entry]
Icon=image-png
Name=Screenshot_20180904_145824.png
Type=Link
URL[$e]=file:$HOME/Images/Screenshot_20180904_145824.png
X-KDE-LastOpenedWith=kdialog
